    .add{
      position: fixed;
      z-index: 10;
      bottom: 150px;
      right: 0px;
      font-size: 18px !important;
        font-family: 'Manrope',sans-serif;
    }

    .btnplus{
      height: 50px;
      width: 50px;
      background-color: rgba(255, 255, 255, 0.26) !important;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.2px solid rgb(255, 255, 255);
      border-radius: 15px 0px 0px 15px;
      border-right: none;
      
    }

    .modal-css{
        display: flex;
        opacity: 1;
        z-index: 9999;
        font-size: 18px !important;
        font-family: 'Manrope',sans-serif;
    }
    