@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

:root {
  --accent: #d4af37;
  --background: #f8f8fb;
  --text-dark: #1a1a1a;
  --text-light: #777;
  --border: #e0e0e0;

  --green: #4caf50;
  --yellow: #fbc02d;
  --red: #e53935;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.cart-container {
  width: 99%;
  margin: 5px auto;
  background: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border);
}
.cart-container:hover{
    background: rgba(233, 231, 231, 0.863);
}




.item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.item-info h3 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--text-dark);
}

.model {
  font-weight: 400;
  color: var(--text-light);
  font-size: 1.2rem;
}

.price {
  font-size: 1.2rem;
  color: var(--accent);
  margin: 0.5rem 0;
}

.status {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.95rem;
}

.status.accepted {
  background-color: var(--green);
  color: white;
}

.status.pending {
  background-color: var(--yellow);
  color: #333;
}

.status.rejected {
  background-color: var(--red);
  color: white;
}
