

#mainMenu li{
  min-width:60px;
  letter-spacing: 1px;
  margin: auto 0;
  font-family: 'Manrope',sans-serif;
  font-weight:300; 

}

#mainMenu li > a {
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-family: 'Manrope',sans-serif;
  text-align: center;
}

.main-header.fixed-nav #mainMenu li > a {
  color: #fff;
  text-decoration: none;
}

#mainMenu li:not(:last-of-type) {
  margin: 7px;
  min-width: 60px !important;
  text-align: center;
}

#mainMenu li > a::before {
  position: absolute;
  content: "";
  width: calc(100% - 1px);
  height: 1px;
  background: #fff;
  bottom: 2px;
  left: 0;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  z-index: -1;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}


.navbarr {
  margin-top: 30px;
  position: sticky;
  top: 25px; 
  height: 60px;
  z-index: 99;
  right: 0;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: transparent;
  
}

.navbar-brand h1 {
  color: #fff;
  margin-top: 0px;
  text-shadow: 2px 2px #000;
}
.main-header .navbar-brand img {
  max-width: 40px;
  animation: fadeInLeft 0.4s both 0.4s;
  
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin-right: 10px;
  background-color: #fff;
}

.auth-links{
  font-size: 16px;
  font-family: 'Manrope',sans-serif;
  letter-spacing: 1px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-links li, .auth-links a{
    color: #fff;
    letter-spacing: 1px;
    min-width: 60px;
    margin: 0 5px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    list-style-type: none; 
    
}

.auth-links li:hover{
  transition: all 0.4s ease;
  border-radius: 7px;
  background: #fff;
  color: #000;
}
.auth-links a:hover{
  transition: all 0.4s ease;
  color: #000;
}


/* .auth-links p{
    color: #fff;
     font-size: 13px;
     line-height: 30px;
     margin: 10px 10px 5px;
     
  
} */


